.btn__groop {
    display: flex;
    justify-content: center;

    @media (min-width:767) {
        padding: 0 31px 0 0;
        margin: 0 -5px;
    }

        >li {
            padding: 0 5px;
        }
}

.btn {
    display: block;
    width: 120px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-decoration: none;
}

.btn__org {
    color: #fff;
    background: $btn__org;
    border: 1px solid #FF6336;
    

    &:hover {
        color: #000;
        background: $btn__wht;
        border: 1px solid #000;
    }
}

.btn__wht {
    background: $btn__wht;
    border: 1px solid #000;

    &:hover {
        color: #fff;
        background: $btn__org;
        border: 1px solid #FF6336;
    }
}

.btn__b {
    line-height: 45px;
    width: 120px;

    @media (min-width:992px) {
        width: 160px;
        line-height: 60px;
    }
}

.btn__bird {
    width: 193px;
    line-height: 60px;
}

.btn__black {
    color: #fff;
    font-size: 17px;
    background: $btn__b;
    border: 1px solid #000;

    &:hover {
        color: #000;
        background: $btn__wht;
        border: 1px solid #000;
    }
}

.hov {
    position: relative;
    transition: all .8s;
    display: inline-block;
    
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        background: $btn__org;
        transition: all .8s;
    }

    &:hover:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: $btn__org;
        z-index: 2;
        opacity: .5;
    }
}
