//colors//
$dark-orange: #FF6336;
$white: #fff;
$black: #000;
$goldenrod: #DABC98;
$blue-white: #C9E8F2;
$beige: #FFF8E4;
$orang: #FF9C7D;

//background//
$btn__org: $dark-orange;
$btn__wht: $white;
$btn__b: $black;
$most: $goldenrod;
$article: $blue-white;
$local__one: $beige;
$m__line2: $orang;
$why: $orang;