.local__one {
    background: $local__one-bg;
}

.local__one__block {
    padding: 60px 0 70px;
    text-align: center;

    @media (min-width:1200px) {
        padding: 120px 0 140px;
    }

    & a{
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.block__local__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
    line-height: 25px;
    margin: 0 -20px;

    .card__local {
        padding: 45px 10px 0;
        margin: 0 auto;
        
        @media (min-width:660px) {
            display: flex;
            width: calc(100% / 2);
            padding: 45px 10px 0;
            flex-direction: column;
            margin: 0;
        }

        @media (min-width:992px) {
            width: calc(100% / 3);
            text-align: center;
        }

        @media (min-width:1200px) {
            padding: 75px 20px 0;
        }

        &__photo {
            height: 120px;
            display: flex;
            justify-content: center;
        }

        &__text {
            padding-top: 5px;

            @media (min-width:768px) {
                padding-top: 15px;
            }

            @media (min-width:992px) {
                padding-top: 30px;
            }

            &>div {
                max-width: 325px;
                margin: 0 auto;
            }

            p {
                padding-top: 20px;
            }
        }
    }
}